<div id="servermonitor_selector_datawiget" class="ui-widget">
	<div id="servermonitor_selector_datawiget_title" class="ui-widget-header ui-corner-all box">
		<p class="widtitle">用户券商管理</p>
	</div>

	<div id="dict_trade_list" class="dtcontainer">
		<progress id="p"></progress>
		<!--table class="display dataTable" >
			<thead>
                <tr>
                    <th class="ui-state-default">所属的券商</th>
                    <th class="ui-state-default">券商的登录帐号</th>
                    <th class="ui-state-default">操作</th>
                </tr>
            </thead>
	        <tr class="odd">
	            <td >
	                平安证券
	            </td>
	            <td>
	                1
	            </td>
	            <td>
	                <input type="button" id="delVersionBtn" value="删除" onclick="versionDelHandler(447);">
	                <input type="button" id="delVersionBtn" value="修改" onclick="versionDelHandler(447);">
	            </td>
	            
	        </tr>
	        <tr class="even">
	            <td >
	                平安证券
	            </td>
	            <td>
	                1
	            </td>
	            <td>
	                <input type="button" id="delVersionBtn" value="删除" onclick="versionDelHandler(447);">
	                <input type="button" id="delVersionBtn" value="修改" onclick="versionDelHandler(447);">
	            </td>
	            
	        </tr>
	        <tr class="odd">
	            <td >
	                平安证券
	            </td>
	            <td>
	                1
	            </td>
	            <td>
	                <input type="button" id="delVersionBtn" value="删除" onclick="versionDelHandler(447);">
	                <input type="button" id="delVersionBtn" value="修改" onclick="versionDelHandler(447);">
	            </td>
	            
	        </tr>
	        <tr class="even">
	            <td >
	                平安证券
	            </td>
	            <td>
	                1
	            </td>
	            <td>
	                <input type="button" id="delVersionBtn" value="删除" onclick="versionDelHandler(447);">
	                <input type="button" id="delVersionBtn" value="修改" onclick="versionDelHandler(447);">
	            </td>
	            
	        </tr>
	        <tr class="odd">
	            <td >
	                平安证券
	            </td>
	            <td>
	                1
	            </td>
	            <td>
	                <input type="button" id="delVersionBtn" value="删除" onclick="versionDelHandler(447);">
	                <input type="button" id="delVersionBtn" value="修改" onclick="versionDelHandler(447);">
	            </td>
	            
	        </tr>
	        <tr class="even">
	            <td >
	                平安证券
	            </td>
	            <td>
	                1
	            </td>
	            <td>
	                <input type="button" id="delVersionBtn" value="删除" onclick="versionDelHandler(447);">
	                <input type="button" id="delVersionBtn" value="修改" onclick="versionDelHandler(447);">
	            </td>
	            
	        </tr>
	        
	    </table-->
	</div>
	
	<div class="box2"></div>

	<div id="dict_trade_add"  class="nowstat">

		<table class="cellspacing table" style="margin:0 auto;">

	        <tr >
	            <td class="td">
	                所属的券商：
	            </td>
	            <td class="td">
	                <div id="dict_trade_opt" ></div>
	            </td>
	        </tr>
	        <tr >
	            <td class="td">
	                券商的登录帐号：
	            </td>
	            <td class="td">
	                <input type="text" id="dictTrade_account" value="" />
	            </td>
	        </tr>
	         <tr>
	            <td class="td">
	                券商的登录密码：
	            </td>
	            <td class="td">
	                <input type="password" id="dictTrade_pwd" value="" />
	            </td>
	        </tr>
	        
	       
	        <tr>
	            <td colspan="2" align="center" valign="bottom">
	                <input type="button" id="user_account_submit" value="新增" />
					<input type="button" id="user_account_reset" value="重置" />
	            </td>
	        </tr>
	        <tr>
	            <td colspan="2" align="center" valign="bottom">
	            </td>
	        </tr>
	    </table>

	</div>
	<div class="box2"></div>
</div>
