<div class="ui-widget">
	<div id="dictTrade_title" class="ui-widget-header ui-corner-all box">
		<p class="widtitle">用户券商管理</p>
	</div>

	<div id="dictTrade_list" class="dtcontainer">
		<!--progress id="p"></progress-->
	</div>

	<div id="dictTrade_tabs" class="ui-tabs ui-widget ui-widget-content-noborder ui-corner-all">
		<ul>
			<li><a href="#dictTrade_tabs_1">券商列表</a></li>
			<li><a href="#dictTrade_tabs_2">新增券商</a></li>
			<!--li><a href="#dictTrade_tabs_3">其他</a></li-->
		</ul>

		<div id="dictTrade_tabs_1" class="ui-tabs-panel ui-widget-content-noborder ui-corner-bottom"></div>
		<div id="dictTrade_tabs_2" class="ui-tabs-panel ui-widget-content-noborder ui-corner-bottom">
		</div>

	</div>
</div>
