<div class="ui-widget">
	<div id="servermonitor_selector_datawiget_title" class="ui-widget-header ui-corner-all">
		<p class="widtitle">用户券商管理</p>
	</div>
	<div id="servermonitor_selector_datawiget_content" class="dtcontainer">

		<table class="cellspacing" style="margin:0 auto;">
	        <tr>
	            <td>
	                用户ID：
	            </td>
	            <td>
	                <input type="text" id="UENAME" value="test2_3" />
	            </td>
	        </tr>
	        <tr>
	            <td>
	                券商ID：
	            </td>
	            <td>
	                <input type="text" id="UCNAME" value="222222" />
	            </td>
	        </tr>
	        <tr>
	            <td>
	                券商的登录帐号：
	            </td>
	            <td>
	                <input type="text" id="PHONENUMBER" value="13800000000" />
	            </td>
	        </tr>
	         <tr>
	            <td>
	                券商的登录密码：
	            </td>
	            <td>
	                <input type="password" id="PASSWORD" value="222222" />
	            </td>
	        </tr>
	        <tr>
	            <td>
	                请再次输入密码：
	            </td>
	            <td>
	                <input type="password" id="PASSWORD2" value="222222" />
	            </td>
	        </tr>
	        <tr>
	            <td>
	                地址：
	            </td>
	            <td>
	                <input type="text" id="ADDRESS" value="222222" />
	            </td>
	        </tr>
	        <tr>
	            <td colspan="2" align="center" valign="bottom">
	                <input type="button" id="user_account_submit2" value="提交" />
					<input type="button" id="user_account_reset2" value="重置" />
	            </td>
	        </tr>
	    </table>

	</div>
</div>
