<div class="box left">
	<div>
		<table border="0" class="cellspacing" style="margin:0 auto;">
			<tbody>
				<tr>
					<td>
						请输入用户名：
					</td>
					<td>
						<input type="text" id="username" />
					</td>
				</tr>
				<tr>
					<td>
						请输入邮箱：
					</td>
					<td>
						<input type="text" id="userpsw" />
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="button" id="mpswok" value="确定" />
						<input type="button" id="mpswcancel" value="取消" />
					</td>
				</tr>  
				<tr>
					<td colspan="2" align="left" id="mpswmessage">							 
					</td>
				</tr> 
			</tbody>     
		</table>
	</div>
</div>
