<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<title>XX系统</title>
		<link href="/public/styles/reset.css" rel="stylesheet" type="text/css" />
    	<link href="/public/styles/index/style.css" rel="stylesheet" type="text/css" />
    	<%- script%>
	</head>
	<body>
		<div class="page">
			<div class="header box" >
				<div class="float_left"><h1><a class="nodec" href="#">XX系统</a></h1></div>
				<div class="float_right topinfo">
					<div id="topinfo"></div>
					
				</div>
			</div>

			<div class="main box">
				<%- body %>
			</div>
			<div class="foot">
				Copyright &copy; 2012-2020 stock.com   All rights reserved.
				<br />
			</div>
		</div>

		<div id="dialog" title="提示" style="display:none;">
			<p id="dialogtext" style=""></p>
		</div>
	</body>
</html>