<div class="box left">
  <div>
    <table class="cellspacing" style="margin:0 auto;">
        
        <tr>
            <td>
                用户名(英文)：
            </td>
            <td>
                <input type="text" id="UENAME" value="test2" />
            </td>
        </tr>
        <tr>
            <td>
                密码：
            </td>
            <td>
                <input type="password" id="PASSWORD" value="222222" />
            </td>
        </tr>
        <tr>
            <td>
                请再次输入密码：
            </td>
            <td>
                <input type="password" id="PASSWORD2" value="222222" />
            </td>
        </tr>
        <tr>
            <td>
                中文名：
            </td>
            <td>
                <input type="text" id="UCNAME" value="222222" />
            </td>
        </tr>
        <tr>
            <td>
                电话：
            </td>
            <td>
                <input type="text" id="PHONENUMBER" value="222222" />
            </td>
        </tr>
        <tr>
            <td>
                地址：
            </td>
            <td>
                <input type="text" id="ADDRESS" value="222222" />
            </td>
        </tr>
        <tr>
            <td>
                邮编：
            </td>
            <td>
                <input type="text" id="ZIPCODE" value="222222" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center" valign="bottom">
                <input type="button" id="login" value="提交" />
				<input type="button" id="reset" value="重置" />

            </td>
        </tr>
		<tr>
            <td colspan="2" align="left">
				<label id="message"><%- message %></label>
			</td>
		</tr>
    </table>
    
  </div>
</div>