<div class="box left">
  <div>
    <table class="cellspacing" style="margin:0 auto;">
        <tr>
            <td>
                用户名：
            </td>
            <td>
                <input type="text" id="username" value="" />
            </td>
        </tr>
        <tr>
            <td>
                密码：
            </td>
            <td>
                <input type="password" id="password" value="" />
				<a id="findpsw" style="font-size:11px;" href="#">找回密码</a>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center" valign="bottom">
                <input type="button" id="login" value="登录" />
				<input type="button" id="reset" value="重置" />

            </td>
        </tr>
		<tr>
            <td colspan="2" align="left">
				<label id="message"><%- message %></label>
			</td>
		</tr>
    </table>
    
  </div>
</div>
