<div style="height:auto;">
  	
  	<div class="a1">
  		<div class="rightbox">
      		<div class="rightcontent">
      			<%- panel %>
      		</div><!--div class="rightcontent"-->
		</div><!--rightbox-->
		<div class="leftbox">
			<div id="navigation" class="nav">
				<div id="accordion">
					<%- navigation %>
				</div><!--div id="accordion"-->
			</div><!--div id="navigation" class="nav"-->
		</div><!--div class="leftbox"-->
  	</div><!--<div class="a1">-->

  	<div style="clear:both;"></div>
</div>