<div id="market_frame" class="ui-widget">

	<div  class="ui-widget-header ui-corner-all box">
		<p class="widtitle">交易管理</p>
	</div>
	<div class="dtcontainer" id="test">
		<!--progress id="p"></progress-->
	</div>
	
	<div id="market_frag">
        


        <table id="market_tb" class="display" cellspacing="0" width="100%">
        </table>
        
        <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers" id="market_tb_paginate">
        <a tabindex="0" class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default" id="market_tb_first">首页</a>
        <a tabindex="0" class="previous fg-button ui-button ui-state-default" id="market_tb_previous">前5页</a>
        <span>
            <a tabindex="0" class="fg-button ui-button ui-state-default" id="market_tb_0">1</a>
            <a tabindex="0" class="fg-button ui-button ui-state-default" id="market_tb_1">2</a>
            <a tabindex="0" class="fg-button ui-button ui-state-default" id="market_tb_2">3</a>
            <a tabindex="0" class="fg-button ui-button ui-state-default" id="market_tb_3">4</a>
            <a tabindex="0" class="fg-button ui-button ui-state-default" id="market_tb_4">5</a>

        </span>
        <a tabindex="0" class="next fg-button ui-button ui-state-default" id="market_tb_next">后5页</a>
        <a tabindex="0" class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default" id="market_tb_last">尾页</a>
        </div>
        
	   </div>
     
     <!--
        <div id="market_tabs">
            <ul>
                <li><a id="market_tabs_a1" href="#market_tabs_1">当日预埋单列表</a></li>
                <li><a id="market_tabs_a2" href="#market_tabs_2">新增预埋单</a></li>
            </ul>

            <div id="market_tabs_1" class=""></div>
            <div id="market_tabs_2" class=""></div>
           
        </div>
 -->

</div>
