<div id="market_frame" class="ui-widget">

	<div  class="ui-widget-header ui-corner-all box">
		<p class="widtitle">交易管理</p>
	</div>
	<div class="dtcontainer" id="test">
		<!--progress id="p"></progress-->
	</div>
	
	<div id="market_frag">
        <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>板块名称</th>
                <th>最新价</th>
                <th>涨跌额</th>
                <th>跌幅</th>
                <th>换手率</th>
                <th>涨跌幅</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>板块名称</th>
                <th>最新价</th>
                <th>涨跌额</th>
                <th>跌幅</th>
                <th>换手率</th>
                <th>涨跌幅</th>
            </tr>
        </tfoot>
    </table>
    <input type='button' id='testbtn' value="button" ></input>
<!--
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="dt_onlineuser">
                <thead>
                  <tr>
                    <th>日期</th>
                    <th>时间</th>
                    <th>连接人数</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
          -->
	</div>
     
     <!--
        <div id="market_tabs">
            <ul>
                <li><a id="market_tabs_a1" href="#market_tabs_1">当日预埋单列表</a></li>
                
                <li><a id="market_tabs_a2" href="#market_tabs_2">新增预埋单</a></li>
                
            </ul>

            <div id="market_tabs_1" class=""></div>
            
            <div id="market_tabs_2" class=""></div>
           
        </div>
 -->

</div>
