<div id="market_frame" class="ui-widget">

	<div  class="ui-widget-header ui-corner-all box">
		<p class="widtitle">交易管理</p>
	</div>
	<div class="dtcontainer" id="test">
		<!--progress id="p"></progress-->
	</div>
	
	<div id="market_frag">
        <table id="market_tb" class="display" cellspacing="0" width="100%">
        </table>
	</div>
     
     <!--
        <div id="market_tabs">
            <ul>
                <li><a id="market_tabs_a1" href="#market_tabs_1">当日预埋单列表</a></li>
                <li><a id="market_tabs_a2" href="#market_tabs_2">新增预埋单</a></li>
            </ul>

            <div id="market_tabs_1" class=""></div>
            <div id="market_tabs_2" class=""></div>
           
        </div>
 -->

</div>
