<div id="orderList_panel" class="ui-widget">

	<div  class="ui-widget-header ui-corner-all box">
		<p class="widtitle">交易管理</p>
	</div>
	<div class="dtcontainer">
		<!--progress id="p"></progress-->
	</div>

	<!--
	<div id="pre_order_container">

	</div>
     -->
	<div id="orderList_tabs">
		<ul>
			<li><a id="orderList_tabs_a1" href="#orderList_tabs_1">预埋单列表</a></li>
			<li><a id="orderList_tabs_a2" href="#orderList_tabs_2">新增预埋单</a></li>
		</ul>

		<div id="orderList_tabs_1" class=""></div>
		<div id="orderList_tabs_2" class=""></div>
	</div>

</div>
