<div id="order_period_panel" class="ui-widget">

	<div  class="ui-widget-header ui-corner-all box">
		<p class="widtitle">交易管理</p>
	</div>
	<div class="dtcontainer">
		<!--progress id="p"></progress-->
	</div>
	
	<div id="order_period_tabs">
		<ul>
			<li><a id="order_period_tabs_a1" href="#order_period_tabs_1">预埋单列表</a></li>
			<li><a id="order_period_tabs_a2" href="#order_period_tabs_2">新增预埋单</a></li>
		</ul>

		<div id="order_period_tabs_1" class="">

		</div>
		<div id="order_period_tabs_2" class="">
			<div id = 't1' > </div>
			<div id = 't2' > </div>
			<div id = 't3' > </div>
			<div id = 't4' > </div>
			<div id = 't5' > </div>
			<div id = 't6' > </div>
			<div id = 't7' > </div>
			<div id = 't8' > </div>
			<div id = 't9' > </div>

			<div class="ui-widget">
		  	<label for="tags">Tags: </label>
		  	<input id="tags">
			</div>
			<div > 1232312321312</div>


		</div>
	</div>

	

</div>
