<div id="order_period_panel" class="ui-widget">

	<div  class="ui-widget-header ui-corner-all box">
		<p class="widtitle">交易管理</p>
	</div>
	<div class="dtcontainer">
		<!--progress id="p"></progress-->
	</div>
	
	<div id="order_period_tabs">
		<ul>
			<li><a id="order_period_tabs_a1" href="#order_period_tabs_1">周期预埋单列表</a></li>
			<li><a id="order_period_tabs_a2" href="#order_period_tabs_2">新增周期预埋单</a></li>
		</ul>

		<div id="order_period_tabs_1" class="">

		</div>
		<div id="order_period_tabs_2" class="">
			
		</div>
	</div>

	

</div>
