<div id="order_today_frame" class="ui-widget">

	<div  class="ui-widget-header ui-corner-all box">
		<p class="widtitle">交易管理</p>
	</div>
	<div class="dtcontainer" id="test">
		<!--progress id="p"></progress-->
	</div>
	<!--
	<div id="pre_order_container">

	</div>
     -->
        <div id="order_today_tabs">
            <ul>
                <li><a id="order_today_tabs_a1" href="#order_today_tabs_1">当日预埋单列表</a></li>
                <li><a id="order_today_tabs_a2" href="#order_today_tabs_2">新增当日预埋单</a></li>
            </ul>

            <div id="order_today_tabs_1" class=""></div>
            <div id="order_today_tabs_2" class=""></div>
            <div id="todayDetail" style="display:none;position:absolute;background-color: #aaaaaa;border:1px solid #a7a7a7;"></div>
		    
        </div>
        <div style="display:none"><select><option value=''>标准</option><option value=''>订单分组</option></select> </div>
        <div id='debug'></div>
</div>
