<div class="ui-widget">

	<div  class="ui-widget-header ui-corner-all box">
		<p class="widtitle">预埋单</p>
	</div>
	<div class="dtcontainer">
		<!--progress id="p"></progress-->
	</div>

	<div id="pre_order_container">

	</div>
	<!--
	<div id="policy_tabs">
		<ul>
			<li><a id="policy_tabs_a1" href="#policy_tabs_1">策略订阅</a></li>
			<li><a id="policy_tabs_a2" href="#policy_tabs_2">已订阅策略</a></li>
		</ul>

		<div id="policy_tabs_1" class=""></div>
		<div id="policy_tabs_2" class=""></div>
	</div>
	-->

</div>
