<div id="preOrder_panel" class="ui-widget">

	<div  class="ui-widget-header ui-corner-all box">
		<p class="widtitle">交易管理</p>
	</div>
	<div class="dtcontainer">
		<!--progress id="p"></progress-->
	</div>
	<!--
	<div id="pre_order_container">

	</div>
     -->
        <div id="preOrder_tabs">
            <ul>
                <li><a id="preOrder_tabs_a1" href="#preOrder_tabs_1">预埋单列表</a></li>
                <li><a id="preOrder_tabs_a2" href="#preOrder_tabs_2">新增预埋单</a></li>
            </ul>

            <div id="preOrder_tabs_1" class=""></div>
            <div id="preOrder_tabs_2" class=""></div>
        </div>


</div>
