<div class="ui-widget">
	<div id="user_title" class="ui-widget-header ui-corner-all box">
		<p class="widtitle">个人中心</p>
	</div>

	<div id="user_list" class="dtcontainer">
		<!--progress id="p"></progress-->
	</div>

	<div id="user_tabs" class="ui-tabs ui-widget ui-widget-content-noborder ui-corner-all">
		<ul>
			<li><a id="user_tabs_a1" href="#user_tabs_1">用户信息</a></li>
			<li><a id="user_tabs_a2"  href="#user_tabs_2">用户修改</a></li>
			<!--li><a id="user_tabs_a3" href="#user_tabs_3">会员俱乐部</a></li-->
			<!--li><a href="#user_tabs_3">其他</a></li-->
		</ul>

		<div id="user_tabs_1" class="ui-tabs-panel ui-widget-content-noborder ui-corner-bottom"></div>
		<div id="user_tabs_2" class="ui-tabs-panel ui-widget-content-noborder ui-corner-bottom"></div>
		<!-- div id="user_tabs_3" class="ui-tabs-panel ui-widget-content-noborder ui-corner-bottom"></div -->

	</div>
</div>
